@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --pm-color: hsl(37, 78%, 33%); */
  --pm-color: hsl(221, 51%, 9%);
  --burger-color: hsl(0, 0%, 15%);
  --nav-height: 6.2rem;
  --max-width: 1440px;
  /* Background and Foreground */
  --bg-color: 0deg 0% 90%;
  --fg-color: 0deg 0% 8%;
  --primary-color: 37deg 98% 43%;
  --accent-color: 221deg 51% 9%;
  --neutral-color-1: 220deg 10% 30%;
  --neutral-color-2: 220deg 10% 50%;
  --neutral-color-3: 220deg 10% 70%;
}

.dark {
  --burger-color: hsl(0, 0%, 90%);

  --bg-color: 0deg 0% 8%;
  --fg-color: 0deg 0% 100%;
  --primary-color: 37deg 98% 53%;
  --accent-color: 221deg 51% 9%;

  --neutral-color-1: 220deg 10% 30%;
  --neutral-color-2: 220deg 10% 50%;
  --neutral-color-3: 220deg 10% 70%;
}

html {
  scroll-padding-top: var(--nav-height);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  /* background: var(--dark-clr); */
  /* color: var(--light-clr); */
  font-family: "inter", sans-serif;
  /* line-height: 1.5; */
  padding-top: var(--nav-height);
}

section {
  min-height: 100dvh;
  /* background: #666; */
}
